#humanstxt-button > .button-box > .box-inherit > .button-text,
#humanstxt-button > .button-box > .button-menu-dropmarker {
  display: none;
}

#humanstxt-menu > .feed-menuitem:-moz-locale-dir(rtl) {
  direction: rtl;
}

/* humans.txt icon */
#humanstxt-button,
#humanstxt-button > .button-box,
#humanstxt-button:hover:active > .button-box {
  padding: 0px;
  margin: 0px;
  border: 0px; 
  background-color: transparent;
}

#humanstxt-button {
  -moz-appearance: none; 
  min-width: 0px; 
  list-style-image: url("chrome://humanstxticon/skin/feed-icons-16-win.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

#humanstxt-button:hover {
  -moz-image-region: rect(0px 32px 16px 16px);
}

#humanstxt-button[open="true"],
#humanstxt-button:hover:active {
  -moz-image-region: rect(0px 48px 16px 32px);
}

