#humanstxt-button > .button-box > .box-inherit > .button-text,
#humanstxt-button > .button-box > .button-menu-dropmarker {
  display: none;
}

#humanstxt-menu > .feed-menuitem:-moz-locale-dir(rtl) {
  direction: rtl;
}

/* humans.txt icon */
#humanstxt-button,
#humanstxt-button > .button-box,
#humanstxt-button:hover:active > .button-box {
  padding: 0px;
  margin: 0px;
  border: 0px; 
  background-color: transparent;
}

#humanstxt-button, #humanstxt-button:hover, #humanstxt-button[open="true"], #humanstxt-button:hover:active {
  -moz-appearance: none; 
  min-width: 0px;
  list-style-image: url("chrome://humanstxt/skin/humanstxt-icon-16.png");
}
